@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Open+Sans&display=swap');


/* ---------------------------------------header---*/


#title-image {
    height: 200px;
    width: 100%;
    background: url("https://8000-red-silkworm-t9y3ef16.ws-eu08.gitpod.io/images/design-img/webpics-img/title.jpeg")  center center;
}

#title-text h1 {
    color: rgb(40, 126, 175);
    text-align: center;
    font-family: 'Aclonica', sans-serif;
    font-size: 60px;
    padding: 0;
    margin: 0;
    bottom: 80px;
    position:relative
}

/* ---------------------------------------------navbar---*/

.container-fluid  {
   padding-right: 0;
   padding-left: 0;
   bottom: 80px;
   position: relative;
}

.navbar-brand {
    color: aliceblue;
    font-family: 'Aclonica', sans-serif ;
}

.nav-item {
    font-family: 'Aclonica', sans-serif ;
}

.nav-item a span {
    color: aliceblue;
}

.hvr-underline-from-center:before {
    background:rgb(40, 126, 175, 0.5) ;
}

